body {
    background-color: #000; 
    color: white; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-variant: small-caps;
}
div {
    background: white;
    overflow:hidden;
}